/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal
/data/

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

.byebug_history

/config/master.key

.env
/redis/

.ruby-gemset

.*.swp
.*.swo

# Ignore master key for decrypting credentials and more.
/config/master.key
